Repository alailsonko/cart-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**' --fix, yarn test:staged

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "eslint 'src/**' --fix"
    
    ],
    "./src/**/*.spec.{ts,tsx}": [
        "yarn test:staged"
    ]
}

fix: react scripts
  .lintstagedrc.json
  src/App.spec.tsx
Due: eslint 'src/**' --fix, yarn test:staged

chore: delete useless file
  jest-unit-config.js
Due: none

chore: add enzyme, redux and scripts
  package.json
Due: none

chore: add editor config and update eslintrc rules
  .editorconfig
  .eslintrc.json
Due: none

chore: update yarn lock
  yarn.lock
Due: none

feat: add home route
  src/App.tsx
  src/index.tsx
  src/routes/index.tsx
Due: eslint 'src/**' --fix

test: add home route
  src/App.spec.tsx
  src/pages/Home/__test__/home.spec.tsx
  src/routes/__test__/routes.spec.tsx
  src/setupTests.ts
Due: eslint 'src/**' --fix, yarn test:staged

chore: add axios
  package.json
  yarn.lock
Due: none

feat: implements global style
  public/index.html
  src/App.tsx
  src/styles/GlobalStyles.ts
Due: eslint 'src/**' --fix

test: implements global style
  src/App.spec.tsx
  src/__snapshots__/App.spec.tsx.snap
Due: eslint 'src/**' --fix, yarn test:staged

feat: fetching data is working
  api/api.json
  src/pages/Home/index.tsx
Due: eslint 'src/**' --fix

feat: implements html and style
  src/api/api.json
Due: none

feat: add product html and html filter
  src/api/api.js
  src/pages/Home/__test__/home.spec.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: eslint 'src/**' --fix, yarn test:staged

feat: style product, wrapshelf
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
  yarn.lock
Due: eslint 'src/**' --fix

feat: implements dev mode and prod mode url
  .gitignore
  src/pages/Home/index.tsx
Due: eslint 'src/**' --fix

feat: style button filter
  api/api.json
  src/api/api.js
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: eslint 'src/**' --fix

feat: implements active filter
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: eslint 'src/**' --fix

chore: update readme
  README.md
  api/api.json
Due: none

chore: update readme
  README.md
Due: none

chore: add reacticons dependency
  package.json
  yarn.lock
Due: none

feat: filterBbutons component start
  src/components/FilterButtons/index.tsx
  src/components/FilterButtons/styles.ts
Due: eslint 'src/**' --fix

feat: add addtocarticon
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: eslint 'src/**' --fix

feat: implements icon hover effect
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: eslint 'src/**' --fix

feat: implements the cart close open effect
  src/components/Cart/index.tsx
  src/components/Cart/styles.ts
  src/pages/Home/index.tsx
Due: eslint 'src/**' --fix

feat: implements getproducts using redux-thunk
  package.json
  src/components/Cart/index.tsx
  src/index.tsx
  src/pages/Home/index.tsx
  src/store/cart/actions.ts
  src/store/cart/reducers.ts
  src/store/cart/types.ts
  src/store/index.ts
  src/store/products/actions.ts
  src/store/products/reducers.ts
  src/store/products/types.ts
  src/store/rootReducers.ts
  yarn.lock
Due: eslint 'src/**' --fix

feat: add to cart
  reduce.ts
  src/pages/Home/index.tsx
  src/store/cart/actions.ts
  src/store/cart/reducers.ts
  src/store/cart/types.ts
  src/store/rootReducers.ts
Due: eslint 'src/**' --fix
